@import "core/variables";

body {
  background: $color-gradient;
  font-family: $font-main;
}
main {
  width: 730px;
  margin: 100px auto 50px;
  display: flex;
  align-items: center;
}
.section1 {
  background-color: $color-dark;
  padding: 0 10px 10px 10px;
  border-radius: 8px;
}
h1 {
  text-align: center;
}
.card {
  height: 100px;
  width: 100px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
.section2 {
  padding: 0 20px;
  width: 250px;
  height: auto;
  background-color: $color-dark;
}
.letters {
  border: 1px solid white;
  height: 100px;
  border-radius: 8px;
  padding: 8px 20px;
  box-sizing: border-box;
}
footer {
  opacity: 50%;
  text-align: center;
  cursor: pointer;
}
